<h1>
  {{description}}
</h1>
<hr>

<h3>Button</h3>
<button class="hoo-button-primary">
  <div class="hoo-button-label">Primary</div>
</button>
<hr>

<h3>Forms</h3>
<div class="hoo-radiobutton-group">
  <div>
    <input type="checkbox" name="chbg1" id="chbg1" value="" class="hoo-checkbox"><label for="chbg1">Apple</label>
  </div>
  <div>
    <input type="checkbox" name="chbg2" id="chbg2" value="" class="hoo-checkbox"><label for="chbg2">Avocado</label>
  </div>
  <div>
    <input type="checkbox" name="chbg3" id="chbg3" value="" class="hoo-checkbox"><label for="chbg3">Banana</label>
  </div>
</div>
<hr>

<h3>Grid</h3>
<div class="hoo-grid">
  <div class="demo-item">Demo Item</div>
  <div class="demo-item2">Demo Item</div>
</div>
<hr>